/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,700|Poiret+One); */

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    overflow: hidden;
    font-family: 'Source Sans Pro',sans-serif;
}
body.v2 {
    background:#ffc65c;
    color:#112746;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0 auto !important;
    z-index: 3;
    overflow: visible;
}

h1 {
    position: relative;
    display: flex;
    align-items: center;

    margin-top:2rem;
    text-align: center;
    font-size: 2.5em;
    font-weight: 900;
    overflow: hidden;
}



header .title {
    display: none;
    height: 200px;
    width: 300px;
    position: relative;
    margin: 0 auto;
    z-index: 3;
}

body.v2 header {
    color:#112746;
    font-weight:normal;
}

.checkbox {

    display:flex;
    flex-direction: column;
    align-items:center;
    gap:1rem;
    font-size:1.5rem;

}
.checkbox:hover, input:hover{
    cursor:pointer;
}
.checkbox input {
    appearance:none;
    position: relative;
    width:80px;
    height:25px;
    background:#000;
    border-radius:20px;
    transition: all 0.4s linear;
    line-height:1.5rem;
    text-transform: uppercase;
    font-weight:600;
    text-align: center;

}
.checkbox input:before{
    content:'';
    position:absolute;
    width:30px;
    height:30px;
    background:red;
    border-radius:50%;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    left: 0px;
    transform:translateY(-2px) translateX(-5px);
    transition: all 0.2s linear;
}
.checkbox input:checked:before{
    content:'';
    position:absolute;
    width:30px;
    height:30px;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border-top-right-radius:50%;
    border-bottom-right-radius:50%;
    background:green;
    transform:translateY(-2px) translateX(60px);
}
.checkbox input:after{
    transition: all 0.2s linear;
    content:"No";
    position:absolute;
    color:red;
    transform: translateX(-50%);
    left: 50%;
    transition: all 0.2s linear;
    text-align: center;
    font-size:1rem;
    
}
.checkbox input:checked:after{
    content: 'Yes';
    color: green;
    position: absolute;
    /* right: unset; */
    transform: translateX(-50%);
    left: 50%;
    transition: all 0.2s linear;
    text-align: center;
    width: inherit;


}

.back {
    border: 12px solid rgba(255, 255, 255, 0.5);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    display: table;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: courier;
    font-size: 14px;
    position: absolute;
    top: 15px;
    right: -150px;
    margin-right: -65px;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.back a {
    display: table-cell;
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
}

.back a:hover {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    BORDER-RADIUS: 50%;
    border: 2px solid rgb(153, 153, 153);
}

.back a span {}

.pacman {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    left: -65px;
    top:calc(50% + 292px / 2);
    z-index: 30;
    background: transparent url(../img/pacman_sprite/pacman_sprite_yellow.svg) no-repeat 0 0;
}
.pacman-alt {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    left: -65px;
    top:calc(50% + 292px / 2);
    z-index: 30;
    background: transparent url(../img/pacman_sprite/pacman_sprite_pink.svg) no-repeat 0 0;
}
@-ms-keyframes pacman {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -240px 0;
    }
}

@-o-keyframes pacman {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -240px 0;
    }
}

@-moz-keyframes pacman {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -240px 0;
    }
}

@-webkit-keyframes pacman {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -240px 0;
    }
}

@keyframes pacman {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -240px 0;
    }
}

#controller {
    position: absolute;
    clear: both;
    margin-top: 80px;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    z-index: 40;
}

#controller td {
    background: transparent;
    color: #fff;
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    z-index: 40;
}

#controller tr:nth-child(odd) td:nth-child(2),
#controller tr:nth-child(2) td:nth-child(odd) {
    background: rgba(0, 0, 0, 0);
}

#controller td:hover {
    cursor: pointer;
}

#controller a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 50px;
    border-left: 4px solid transparent;
    text-align: center;
    border-radius: 50%;
    display: block;
}
body.v2 #controller a {
    color:#112746;
}

#controller a.on {
    border-left: 4px solid rgba(255, 255, 255, 0.1) !important;
}

#controller tr:first-child td:nth-child(2) {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

#controller tr:nth-child(2) td:nth-child(3) {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

#controller tr:nth-child(3) td:nth-child(2) {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
}


@media screen and (max-device-width:500px) and (orientation:portrait) {


label{
    text-align:center;
}

    #controller {
        z-index: 40;
    }
}


@media screen and (max-width:1024px) {
    .instructions {
        display:none;
        font-size: 1.4em;
        border: 1px solid #fff;
        padding: 20px;
        box-sizing: border-box;
    }
}